
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #23242b;

}

::-webkit-scrollbar{
  width: 10px;

}

::-webkit-scrollbar-track{

  background: #242427;
}

::-webkit-scrollbar-thumb{
  background: #48494e;
}

::-webkit-scrollbar-thumb:hover{
  background: #5c5e64;
}